:root {
    --brand-color: #2196F3;
    --text-color: #212121;
    --accent-color: #FFFFFF;
  }

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    background-color: var(--accent-color);
    color: var(--text-color);
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    display: block;
    margin-right: 93px;
}
.logo-nav {
    color: var(--text-color);
}
.logo-footer {
    color: var(--accent-color);
}

.list {
    list-style: none;
    list-style-type: none;
}

a[href] {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

.container {
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
}

.link-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-color);
    padding: 32px 0;
    display: block;
}

.link-nav:hover,
.link-nav:focus {
    color: var(--brand-color);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    justify-content: flex-start;
}

.site-nav {
    display: flex;
    align-items: flex-start;
}

.item-nav:not(:last-child) {
    margin-right: 50px;
}

.list-contact {
    display: flex;
    margin-left: auto;
}

ul li.current a {
    color: var(--brand-color);
}

.contact-us-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    margin-right: 50px;
}
.contact-us-header:hover,
.contact-us-header:focus {
    color: var(--brand-color);
}
.hero {
    background: #2F303A;
}

.hero-title {
    color: var(--accent-color);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
}

.hero-btn {
    font-family: inherit;
    background: var(--brand-color);
    color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 32px;
    /* margin: 0 700px 200px; */
    text-align: center;
    border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
    background: #188CE8;
}

.feature-title-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: left;
    color: var(--text-color);
}

.feature-text {
    line-height: 1.7;
    color: #757575;
}

.team {
    background-color: #F5F4FA;
}

.team-title, .works-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: #757575;
}

.portfolio-list {
    display: flex;
    justify-content: center;
}

.portfolio-list > .portfolio-item:not(:last-child) {
    margin-right: 8px;
}

.btn-portfolio {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background: #F5F4FA;
    color: var(--text-color);
    cursor: pointer;
    border: #F5F4FA;
    border-radius: 4px;
    padding: 6px 22px;
}

.btn-portfolio:hover,
.btn-portfolio:focus{
    background: var(--brand-color);
    color: var(--accent-color);
}

.gallery-list-container {
    padding: 50px 0 94px;
}

.gallery-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;

}

.gallery-list > .item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.gallery-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-color);
}

.gallery-list-text {
    font-size: 16px;
    line-height: 1.9;
    color: #757575;
    margin-top: 4px;
}

.card-thumb {
    width: 370px;
}

.card-content {
    width: 370px;
    border: 1px solid #EEEEEE;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: transparent;
    padding: 20px 24px;
}

.footer-bg {
    background-color: #2F303A;
}

.address-footer {
    color: var(--accent-color);
}

.contacts-footer {
    color: rgba(255, 255, 255, 0.6);
}

address {
    font-style: normal;
}